mixin _head(title)
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author" content="")
        title= title
        link(rel="shortcut icon", href="./assets/favicon.ico", type="image/x-icon")
        //- Font Awesome icons (free version)
        script(src="https://use.fontawesome.com/releases/v6.1.0/js/all.js", crossorigin="anonymous")
        //- Core theme CSS (includes Bootstrap)
        link(rel="stylesheet", href="./assets/css/index.css")
