.sp {
    @include mq('pc') {
        display: none;
    }
}
.spOnly {
    display: block;
    @include mq('tab') {
        display: none;
    }
}
.tab {
    display: none;
    @include mq('tab') {
        display: inline-block;
    }
    @include mq('pc') {
        display: none;
    }
}
.pc {
    display: none;
    @include mq('pc') {
        display: inline-block;
    }
}
